html {
    color: black;
    background-color: rgb(170, 164, 167);
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
    background-color: ivory;
    padding: 0px 20px 20px 20px;
    border: 5px solid black;
}

/* Bestimmte Bedingung, nur wenn diese erfüllt ist, wird der Hintergrund entsprechend umgefärbt!
*/
@media (min-width: 80em) {
    html {
        background-color: blue;
    }
}

.images{
    width: 500px;
    height: 500px;
    
    border: 2px solid blue;
    padding: .5em;
}

li{
    padding: .5em;
    border: 2px solid pink;
}

li img{
    height: 160px;
}

ul{
    float: left;
    display: inline-flex;
    list-style: none;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
}

p, li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img{
    display: block;
    margin: 0 auto;
}